*{
    /*Tesztelés céljából*/
    /*border: 1px solid black;*/
}

/* ========== ALAP TAGEK ==========*/

h1{
    margin: 0;
}

p{
    margin: 0;
}


/*  ========== FŐ RÉSZEK ==========*/

#frame{
    width: 1280px;
    height: 800px;
    margin: auto;
}
#header{
    background-color: wheat;
    text-align: center;
}
#sidebar, #content{
    height: 100%;
}
#navbar{
    background-color: aqua;
    /*text-align: center;*/
}
#sidebar{
    float: left;
    /*display: inline-block;*/
    background-color: coral;
    width: 15%;
}
#content{
    /*display: inline-block;*/
    float: right;
    background-color: darkturquoise;
    width: 85%;
}
#footer{
    background-color: wheat;
    clear: both;
}

/* ========== GOMBOK ==========*/
/*
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid black;
}

.button1:hover {
    background-color: #00e6ac;
    color: black;
}*/
